@model GuideTouristiqueApp.Models.Bus

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details De Bus</h1>

<div>
    <h4>Bus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroLigne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroLigne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horaire)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
